<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  <title>Water Tower</title>

  <link href="/css/style.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" type="text/css" href="/css/accordian_leftside.css">

  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.3.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js"></script>

  <script>
    $(function() {
      $( "#mytestform" ).validate({
        rules: {
          catnm :"required",
          display_order : "required"
        },
        messages: {
          banner :" Please Enter The Category Name",
          display_order :" Enter The Display Order"
        }
      });
    });
  </script>
</head>

<body>
<div align="center">
  <table width="1100" border="0" cellpadding="0" cellspacing="0" height="100%">
    <tr>
      <td height="90" align="center" valign="middle" background="/images/headerbg.jpg"><% include ../common/header %> </td>
    </tr>
    <tr>
      <td align="left" valign="top"><table width="1100" border="0" cellspacing="0" cellpadding="0" height="100%">
          <tr>
            <td width="250" align="left" valign="top" bgcolor="#dedede"><% include ../common/menu %></td>
            <td width="850" align="left" valign="top" bgcolor="#FFFFFF">&nbsp;
              <div align="center">
                <table border="0" width="98%">
                  <tr>
                    <td align="left" width="100%" valign="top" bgcolor="#382E2A" style="padding:7px 0px 7px 10px" class="content3" colspan="2">
                      Add New Category</td>
                  </tr>

                  <tr>
                    <td align="left" width="100%" valign="top" colspan="2">
                      <form action="" method="POST" name="mytestform" id="mytestform">
                        <table width="100%" id="table6" cellspacing="0" cellpadding="0"  style="padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">

                          <tr>
                            <td width="100%" align="center" height="25" class="content1" style="padding-right: 5px" colspan="2">&nbsp;</td>
                          </tr>

                          <tr>
                            <td width="100%" align="center" height="35" class="content1" style="padding-right: 5px" colspan="2">&nbsp;</td>
                          </tr>

                          <tr>
                            <td width="22%" align="right" height="35" class="content1" style="padding-right: 5px">Category Name</td>
                            <td width="78%" style="padding-left: 5px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#FF0000;" height="35" align="left">
                              <input type="text" name="catnm" id="catnm"  class="required" size="33">&nbsp;
                            </td>
                          </tr>

                          <tr>
                            <td width="22%" align="right" height="35" class="content1" style="padding-right: 5px">
                              Display Order</td>
                            <td width="78%" style="padding-left: 5px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#FF0000;" height="35" align="left">
                              <input name="display_order" id="display_order" class="required" size="33"></td>
                          </tr>
                          <tr>
                            <td width="22%" align="right" height="35">&nbsp;</td>
                            <td width="78%" height="35" style="padding-left: 5px" align="left">
                              <input type="image" name="imageField" id="imageField" src="/images/submit.png"></td>
                          </tr>
                          <tr>
                            <td align="right" height="35">&nbsp;</td>
                            <td height="35" style="padding-left: 5px" align="left">&nbsp;</td>
                          </tr>
                        </table>
                      </form>

                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </table></td>
    </tr>
  </table>
</div>
</body>

</html>
