<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-3"><div class=" footer_logo">
        <img src="../../assets/images/footer_logo.png" alt="">
      </div></div>

      <div class="col-md-8 col-sm-6 footer_copyright">
        &copy;2016  <img src="../../assets/images/star.png" alt="">  DENVER, COLORADO  <img src="../../assets/images/star.png" alt="">  <span>303.550.5808</span>
      </div>

      <div class="col-md-2 col-sm-3 footer_social">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</footer>





<a href="#" class="back-to-top"><img src="../../assets/images/scrolltop.png" alt=""></a>


