<header>
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-sm-2 topmenu_logo"><a href="#home" class="watertower_logo"><img src="../../../assets/images/watertower-logo.png" alt=""></a><button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button></div>
      <div class="col-md-7 col-sm-7 topmenu_navbar">
        <nav class="navbar navbar-default">
          <div class="navbar-header">

          </div>
          <div class="navbar-collapse collapse" id="navbar" aria-expanded="false" >
            <ul class="nav navbar-nav navHighlighter">
              <li><a [routerLink]="['/home']">HOME</a></li>
              <li><a [routerLink]="['/home']">SERVICES</a></li>
              <li><a [routerLink]="['/home']">PROJECTS</a></li>
              <li><a [routerLink]="['/home']">ABOUT</a></li>
              <li><a [routerLink]="['/home']">CONTACT</a></li>
            </ul>

          </div><!--/.nav-collapse -->
        </nav>
      </div>
      <div class="col-md-2 col-sm-2 header_number">303.550.5808</div>



    </div>
  </div>
</header>

