<tr>
     <td height="90" align="center" valign="middle" background="/images/headerbg.jpg"><table width="1000" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td width="200" align="center" valign="middle"><img src="/images/watertower-logo2.png" width="150" height="151"></td>
         <td width="900" align="right" valign="bottom" style="padding-bottom:10px;"><img src="/images/admin_login.png"></td>
       </tr>
     </table></td>
   </tr>
  <tr>
    <td height="32" align="right" valign="middle" bgcolor="#382e2a" class="link3" style="padding-right:20px;"><a href="/admin/changepassword">Change Password</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/admin/logout">Logout</a></td>
  </tr>
