<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="100%" height="10" align="left" valign="top"></td>
  </tr>
  <tr>
    <td height="10" align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
        <tbody>
        <tr>
          <td width="18%" align="left" valign="middle"><a href="/admin/inner/"> <img src="/images/home.png" width="32" border="0" height="32"></a></td>
          <td width="82%" align="left" valign="middle" class="link2"><a href="/admin/inner/">Dashboard</a></td>
        </tr>
        <tr>
          <td colspan="2" valign="middle" align="left" height="6"></td>
        </tr>
        </tbody>
      </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle" bgcolor="#382e2a" style="padding:7px 0px 7px 0px" class="content3">
      <b>Home Section</b></td>
  </tr>
  <tr>
    <td height="6" align="left" valign="middle"></td>
  </tr>
  <tr>
    <td align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="10%" align="left" valign="middle" style="padding:5px 0px;"><img src="/images/arrow.png" width="16" height="16"></td>
          <td width="90%" align="left" valign="middle" class="link" style="padding:5px 0px;">
            <span><a href="/admin/slidebanner/">Slide Banner</a></span></td>
        </tr>
        <tr>
          <td width="10%" align="left" valign="middle" style="padding:5px 0px;"><img src="/images/arrow.png" width="16" height="16"></td>
          <td width="90%" align="left" valign="middle" class="link" style="padding:5px 0px;">
            <a href="/admin/home_page_text/">SEO For Home Page</a></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="6" align="left" valign="middle"></td>
  </tr>

  <tr>
    <td align="center" valign="middle" bgcolor="#382e2a" style="padding:7px 0px 7px 0px" class="content3">
      <b>Services Section</b></td>
  </tr>
  <tr>
    <td height="6" align="left" valign="middle"></td>
  </tr>
  <tr>
    <td align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="10%" align="left" valign="middle" style="padding:5px 0px;"><img src="/images/arrow.png" width="16" height="16"></td>
          <td width="90%" align="left" valign="middle" class="link" style="padding:5px 0px;"><span>
			<a href="/admin/plan_section_text/">Text Content For Plan</a></span></td>
        </tr>
        <tr>
          <td width="10%" align="left" valign="middle" style="padding:5px 0px;"><img src="/images/arrow.png" width="16" height="16"></td>
          <td width="90%" align="left" valign="middle" class="link" style="padding:5px 0px;"><span>
			<a href="/admin/design_section_text/">Text Content For Design</a></span></td>
        </tr>
        <tr>
          <td width="10%" align="left" valign="middle" style="padding:5px 0px;"><img src="/images/arrow.png" width="16" height="16"></td>
          <td width="90%" align="left" valign="middle" class="link" style="padding:5px 0px;"><span>
			<a href="/admin/build_section_text/">Text Content For Build</a></span></td>
        </tr>
        <tr>
          <td width="10%" align="left" valign="middle" style="padding:5px 0px;"><img src="/images/arrow.png" width="16" height="16"></td>
          <td width="90%" align="left" valign="middle" class="link" style="padding:5px 0px;">
            <a href="/admin/service_gallery/">Services Image Gallery</a></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="6" align="left" valign="middle"></td>
  </tr>
  <tr>
    <td align="center" valign="middle" bgcolor="#382e2a" style="padding:7px 0px 7px 0px" class="content3">
      <b>Projects Section</b></td>
  </tr>
  <tr>
    <td height="6" align="left" valign="middle"></td>
  </tr>
  <tr>
    <td align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="10%" align="left" valign="middle" style="padding:5px 0px;"><img src="/images/arrow.png" width="16" height="16"></td>
          <td width="90%" align="left" valign="middle" class="link" style="padding:5px 0px;"><span>
			<a href="/admin/project_category/">Projects Category</a></span></td>
        </tr>
        <tr>
          <td width="10%" align="left" valign="middle" style="padding:5px 0px;"><img src="/images/arrow.png" width="16" height="16"></td>
          <td width="90%" align="left" valign="middle" class="link" style="padding:5px 0px;"><span>
			<a href="/admin/projects/">Projects</a></span></td>
        </tr>
        <tr>
          <td width="10%" align="left" valign="middle" style="padding:5px 0px;"><img src="/images/arrow.png" width="16" height="16"></td>
          <td width="90%" align="left" valign="middle" class="link" style="padding:5px 0px;"><span>
			<a href="/admin/projects_gallery/">Projects Gallery</a></span></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="6" align="left" valign="middle"></td>
  </tr>
  <tr>
    <td align="center" valign="middle" bgcolor="#382e2a" style="padding:7px 0px 7px 0px" class="content3">
      <b>About Section</b></td>
  </tr>
  <tr>
    <td height="6" align="left" valign="middle"></td>
  </tr>
  <tr>
    <td align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="10%" align="left" valign="middle" style="padding:5px 0px;"><img src="/images/arrow.png" width="16" height="16"></td>
          <td width="90%" align="left" valign="middle" class="link" style="padding:5px 0px;"><span>
			<a href="/admin/about_us_text">Text Content for About Us</a></span></td>
        </tr>
        <tr>
          <td width="10%" align="left" valign="middle" style="padding:5px 0px;"><img src="/images/arrow.png" width="16" height="16"></td>
          <td width="90%" align="left" valign="middle" class="link" style="padding:5px 0px;"><span>
			<a href="/admin/team/">Manage Team</a></span></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="6" align="left" valign="middle"></td>
  </tr>


  <tr>
    <td align="center" valign="middle" bgcolor="#382e2a" style="padding:7px 0px 7px 0px" class="content3">
      <b>Contact Us Section</b></td>
  </tr>
  <tr>
    <td height="6" align="left" valign="middle"></td>
  </tr>
  <tr>
    <td align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="10%" align="left" valign="middle" style="padding:5px 0px;"><img src="/images/arrow.png" width="16" height="16"></td>
          <td width="90%" align="left" valign="middle" class="link" style="padding:5px 0px;">
            <a href="/admin/contact_info">Manage Contact Information</a></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="6" align="left" valign="middle"></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
</table>
