<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  <title>Water Tower</title>

<link href="/css/style.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" type="text/css" href="/css/accordian_leftside.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
<div align="center">
  <table width="1100" border="0" cellpadding="0" cellspacing="0" height="100%">
    <tr>
      <td height="90" align="center" valign="middle" background="/images/headerbg.jpg"><% include common/header %> </td>
    </tr>
    <tr>
      <?php include "top_link.php"; ?>
    </tr>


    <tr>
      <td align="left" valign="top"><table width="1100" border="0" cellspacing="0" cellpadding="0" height="100%">
          <tr>
            <td width="250" align="left" valign="top" bgcolor="#dedede"><% include common/menu %></td>
            <td width="850" align="left" valign="top" bgcolor="#FFFFFF">&nbsp;</td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td height="15" align="center" valign="top" bgcolor="#382e2a"></td>
    </tr>
  </table>
</div>
</body>

</html>
